{% extends "base.html" %}
{% block container %}
<div class="row">
	
			<div id="minicart-container">
				<div>
				<script type="text/javascript" src="http://app.ecwid.com/script.js?5088121" charset="utf-8"></script>
				<!-- remove layout parameter if you want to position minicart yourself -->
				<script type="text/javascript"> xMinicart("style=", "layout=Mini"); </script>
				</div>
			</div>
		
	</div>

<div class="row">
            <div class="box">
                <div class="col-lg-12">
              		<div id="my-store-5088121"></div>
					<div>
					<script type="text/javascript" src="http://app.ecwid.com/script.js?5088121" charset="utf-8"></script><script type="text/javascript"> xProductBrowser("categoriesPerRow=3","views=grid(3,3) list(10) table(20)","categoryView=grid","searchView=list","id=my-store-5088121");</script>
					</div>      
                </div>
            </div>
        </div>
{% endblock container %}
