{% extends "base.html" %}

{% block container %}
<div class="row">
	<div class="box">
		<div class="col-lg-12">
	        <hr>
	        <h2 class="intro-text text-center">Новости</h2>
	        <hr>
	    </div>
	  		{% for post in posts %}
	  		<div class="col-lg-12 text-center">
				{% if post.get_images()|length > 1 %}
				<div id="carousel-{{post.id}}" class="carousel slide">
			        <!-- Indicators -->
			        <ol class="carousel-indicators hidden-xs">
			        	{% for image in post.get_images() %}
			        	<li data-target="#carousel-{{post.id}}" data-slide-to="{{loop.index0}}" class="{% if loop.first %}active{% endif %}"></li>	
			        	{% endfor %}
			        </ol>

			        <!-- Wrapper for slides -->
			        <div class="carousel-inner">
			        	{% for image in post.get_images() %}
			        	<div class="item {% if loop.first %}active{% endif %}">
			                <img class="img-responsive img-full" src="{{image}}" alt="">
			            </div>
			        	{% endfor %}
			        </div>

			        <!-- Controls -->
			        <a class="left carousel-control" href="#carousel-{{post.id}}" data-slide="prev">
			            <span class="icon-prev"></span>
			        </a>
			        <a class="right carousel-control" href="#carousel-{{post.id}}" data-slide="next">
			            <span class="icon-next"></span>
			        </a>
			    </div>
			    {% elif post.get_images()|length == 1 %}
			    <img src="{{post.get_images()[0]}}" class="img-responsive img-border img-full" alt="">
				{% endif %}
				<h2>{{post.title}}
					<br>
					<small>{{post.date}}</small>
				</h2>
				<p>{{post.text|safe}}</p>
			</div>
			{% endfor %}  
	</div>
</div>
{% endblock container %}

{% block scripts %}
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
{% endblock scripts %}