{% extends "base.html" %}
{% block container %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
  	<div class="row">
  		<div class="box">
  			<ul class=flashes>
		    {% for message in messages %}
		      <li>{{ message }}</li>
		    {% endfor %}
		    </ul>	
  		</div>
  	</div>
  {% endif %}
{% endwith %}
{{page.text|safe}}
{% endblock container %}