{% extends 'admin/model/edit.html' %}

{% block body %}
	<h1>{{title}}</h1>
	<a href="{{url_for('.new')}}">Создать нового</a>
	{% for obj in objs %}
	<p>{{obj.id}} {{obj.login}} <a href='{{url_for('.profile', login=obj.login)}}'>Редактировать</a></p>
	{% endfor %}
{% endblock %}